<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign In</h1>
        <p class="text-xs-center">
          <a href="['/register']">Do not have an account?</a>
        </p>

        @if (backendErrors(); as backendErrors) {
        <backend-error-msgs
          [backendErrors]="backendErrors"
        ></backend-error-msgs>
        }

        <form [formGroup]="formLog" (ngSubmit)="onSubmit()">
          <fieldset>
            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Email"
                formControlName="email"
                name="email"
                autocomplete="on"
              />
            </fieldset>

            <fieldset class="form-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Password"
                formControlName="password"
                name="password"
                autocomplete="off"
              />
            </fieldset>

            <button
              class="btn btn-lg btn-primary pull-xs-right"
              type="submit"
              [disabled]="isSubmitting()"
            >
              Sign In
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
