<div class="feed-toggle">
  <ul class="nav outline-active nav-pills">
    @if (isLoggedIn()) {
    <li class="nav-item">
      <a [routerLink]="['/feed']" class="nav-link" routerLinkActive="active">
        Your feed
      </a>
    </li>
    }
    <li class="nav-item">
      <a
        [routerLink]="['/']"
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        Global Feed
      </a>
    </li>
    @if (tagName()) {
    <li class="nav-item">
      <a
        [routerLink]="['/tags', tagName()]"
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
      >
        <i class="ion-pound"></i>
        {{ tagName() }}
      </a>
    </li>
    }
  </ul>
</div>
