/* You can add global styles to this file, and also import other style files */
.colorize {
  background-color: chartreuse;
  display: inline-block
}

.highlight {
  background-color: aquamarine;
  display: inline-block
}
